<div class="flex flex-col items-center container text-center pt-8">
  <img class="w-[300px]" src="assets/logo.png" alt="">
  <h1 class="uppercase text-3xl md:text-5xl font-bold md:leading-[63px] pt-24">
    Unlock Your Web Development Superpowers:
    Learn HTML, CSS, and JavaScript for Just $15
    <br>
    <span class="text-orange">-Course Launching Soon-</span>
  </h1>
  <p class="text-lg pt-6 ">
    Elevate your web development skills with our <span>3 lesson</span> course led by mentors with decades of industry
    experience, who provide expert guidance and insider knowledge. Create an impressive portfolio through <span>hands-on
      projects</span>, increasing your chances of securing your dream job, unleash your potential to earn
    over <span>$100k salaries</span> in the thriving web development field and enhance your job applications with our
    <span>professionally designed CV template</span> that you will get, showcasing your skills for a successful career.
  </p>
  <span class="text-xl font-bold pt-16">JOIN THE WAITLIST AND GET NOTIFIED WHEN WE LAUNCH THE COURSE</span>
  <form class="flex flex-wrap justify-center w-full pt-8" action="https://formsubmit.co/risteski.filip@uklo.edu.mk"
    method="POST">
    <input class="w-full max-w-md" type="email" name="email" required placeholder="Your Email Adress">
    <button class="ml-9 bg-orange w-44" type="submit">Send</button>
  </form>
</div>